* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('https://static.wikia.nocookie.net/jujutsu-kaisen/images/f/fa/Tokyo_Jujutsu_High_dorms_%28Anime%29.png/revision/latest/scale-to-width-down/1000?cb=20210325192435'); /* Add your background image here */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    text-align: center;
    background-color: rgba(51, 51, 51, 0.9); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 400px;
}

h1 {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 20px;
    font-size: 1.2em;
}

.description {
    margin-top: 10px;
    font-size: 1em;
    color: #aaa;
}

.image {
    margin-top: 10px;
}

.image img {
    max-width: 100%;
    border-radius: 10px;
}

.footer {
    text-align: center;
    padding: 10px;
    font-size: 0.8em;
    color: #ccc;
    background-color: rgba(34, 34, 34, 0.9); /* Semi-transparent background */
}

@media (max-width: 480px) {
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 1.5em;
    }

    button {
        font-size: 1em;
    }

    .result {
        font-size: 1em;
    }

    .description {
        font-size: 0.9em;
    }
}
